ul.nav-vertical{
	list-style:none;
	padding:20px 0px;
	margin:0px;

	li{
		text-align: center;
		margin-bottom: 15px;

		a{
			color:#fff;

			.material-icons{
				font-size: 40px
			}
		}
		a:hover{
			color:#ccc;
		}
	}
}