.sidebar-app{
	ul{
		list-style: none;
		padding:10px 0px;
		margin: 0px;
		li {
			text-align: center;
			padding:5px;
			a{
				color: #f2f2f2;
			}
			a:hover{
				color: #fff;
			}
			.activated {
				background-color: #f90;
			}
		}
	}
}